@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: 'NanumGothic';
  src: url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
  font-weight: normal;
  unicode-range: 'U+AC00-D7A3';
}

* {
  box-sizing: border-box;
}


/* =================== highlighter =================== */
.lt-gt {
  @apply text-gray-500;
}

.tag-name {
  @apply text-blue-500;
}

.text {
  @apply text-white;
}

.attribs-key {
  @apply text-sky-400;
}

.attribs-value {
  @apply text-orange-500;
}

.suggestion {
  @apply bg-crowd-flower text-black font-bold underline cursor-pointer;
}
.suggestion * {
  color: black !important;
}

.discription {
  @apply text-white;
  text-indent: -1em;
  margin-left: 1em;
}
/* =================================================== */


/* ==================== scrollbar ==================== */
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.code-block::-webkit-scrollbar-track {
  background-color: rgb(31, 31, 31);
  border-radius: 5px;
}

.code-block::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 160, 0.4);
  border-radius: 5px;
}

.code-block::-webkit-scrollbar-corner {
  background-color: rgb(31, 31, 31);
  border-radius: 5px;
}

.result-page::-webkit-scrollbar-track {
  @apply bg-gray-50;
  border-radius: 5px;
}

.result-page::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 160, 0.4);
  border-radius: 5px;
}

.result-page::-webkit-scrollbar-corner {
  background-color: rgb(31, 31, 31);
  border-radius: 5px;
}
/* =================================================== */